<div *ngIf="showSpinner" class="mat-drawer-backdrop ng-star-inserted mat-drawer-shown">
    <mat-spinner class="spinnerClass" strokeWidth="5"></mat-spinner>
</div>

<mat-card *ngIf="!sucessResponse;else responseField">
    <mat-card-header>
        <mat-card-title>Register Drug Deatails</mat-card-title>
    </mat-card-header>
    <form [formGroup]="drugRegistration" (ngSubmit)="showSpinner=true;onSubmit(drugRegistration.value)">
        <mat-vertical-stepper #stepper class="stepperVertical">
            <mat-card-content>
                <mat-step stepControl="drugName">
                    <ng-template matStepLabel>Enter Drug Name</ng-template>
                    <mat-form-field appearance="outline">
                        <mat-label>Drug Name</mat-label>
                        <input matInput placeholder="Drug Name" type="text" formControlName="drugName" required>
                        <mat-error *ngIf="drugRegistration.controls.drugName.hasError('required')">Please enter drug
                            name!!</mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                    </div>
                </mat-step>
                <mat-step stepControl="companyCRN">
                    <ng-template matStepLabel>Enter Your Company CRN</ng-template>
                    <mat-form-field appearance="outline">
                        <mat-label>Company CRN</mat-label>
                        <input matInput placeholder="Company CRN" type="text" formControlName="companyCRN"
                            [matAutocomplete]="auto" required>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let CRN of filteredCRNS | async " [value]="CRN">
                                {{CRN}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="drugRegistration.controls.companyCRN.hasError('required')">Please enter CRN!!
                        </mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                        <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                    </div>
                </mat-step>
                <mat-step stepControl="serialNo">
                    <ng-template matStepLabel>Enter Drug serialNo</ng-template>
                    <mat-form-field appearance="outline">
                        <mat-label>SerialNo</mat-label>
                        <input matInput placeholder="serialNo" type="text" formControlName="serialNo" required>
                        <mat-error *ngIf="drugRegistration.controls.serialNo.hasError('required')">Please enter
                            serialNo!!</mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                        <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                    </div>
                </mat-step>
                <mat-step stepControl="mfgDate">
                    <ng-template matStepLabel>Enter Manufacture Date</ng-template>
                    <mat-form-field appearance="outline">
                        <mat-label>Manufacture Date</mat-label>
                        <input matInput [matDatepicker]="mfgPicker" formControlName="mfgDate">
                        <mat-datepicker-toggle matSuffix [for]="mfgPicker"></mat-datepicker-toggle>
                        <mat-datepicker #mfgPicker></mat-datepicker>
                        <mat-error *ngIf="drugRegistration.controls.mfgDate.hasError('required')">Please select a
                            Manufacture Date!!</mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                        <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                    </div>
                </mat-step>
                <mat-step stepControl="expDate">
                    <ng-template matStepLabel>Enter Expiration Date</ng-template>
                    <mat-form-field appearance="outline">
                        <mat-label>Expiration Date</mat-label>
                        <input matInput [matDatepicker]="expPicker" formControlName="expDate">
                        <mat-datepicker-toggle matSuffix [for]="expPicker"></mat-datepicker-toggle>
                        <mat-datepicker #expPicker></mat-datepicker>
                        <mat-error *ngIf="drugRegistration.controls.expDate.hasError('required')">Please select a
                            Expiration Date!!</mat-error>
                        <mat-error *ngIf="drugRegistration.controls.expDate.hasError('dateValidation')">Expiration Date
                            should greater than
                            Manufacture Date!!</mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                        <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                    </div>
                </mat-step>
            </mat-card-content>
            <mat-card-actions>
                <mat-step>
                    <ng-template matStepLabel>Register</ng-template>
                    <div>
                        <button mat-raised-button color="primary" type="reset"
                            (click)="drugRegistration.reset()">Reset</button>
                        <button mat-raised-button color="accent" type="submit"
                            [disabled]="drugRegistration.invalid">Register</button>
                    </div>
                </mat-step>
            </mat-card-actions>
        </mat-vertical-stepper>
    </form>
</mat-card>




<ng-template #responseField>
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{sucessResponse.message}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="cardContent">
            <mat-toolbar color="#fff">
                <mat-toolbar-row *ngFor="let data of sucessResponse.drug | keyvalue">
                    {{data.key | titlecase}} : {{data.value}}
                </mat-toolbar-row>
            </mat-toolbar>
            <mat-card-actions>
                <button mat-raised-button color="accent" type="button" (click)="sucessResponse=undefined;drugRegistration.reset()">Back</button>
            </mat-card-actions>
        </mat-card-content>

    </mat-card>
</ng-template>