.mat-toolbar-row {
    background-color: #ff4081;
}

mat-drawer-content {
    padding: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding-left: 10%;
}
.mat-mini-fab {
    color: #ff4081;
}
.mat-drawer-container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.mat-drawer {
    width: 100%;
    background-color: #ff4081;
    clip-path: circle(75% at 30% -10%);
    -webkit-clip-path: circle(75% at 30% -10%);
}
.role {
    a {
        // color: #ff4081;
        color: #fff;
        font-size: 150%;
        padding-left: 20%;
        text-decoration: none;
    }
    a:hover {
        opacity: 0.7;
    }
}

.mat-list-base .mat-list-item {
    height: 6vw;
    transition: all 1s ease-in-out;
}
.navMenuLink {
    // float: right;
    text-decoration: none;
    color: #ff4081;
    width:5%;
    height:80%;
    text-align: center;
    align-items: center;
    line-height: 5.5vh;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    .example-spacer {
        flex: 1 1 auto;
    }
    .example-spacer1 {
        padding-right: 2%;
    }
    .logo {
        height: 80%;
        width: 100%;
        border-radius: none;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.snackBar {
    background-color: white;
    color: black;
}
