
<nav class="navbar navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
  <a class="nav-item nav-link" routerLink="/userRegistration" routerLinkActive="active">User Registration</a>
  <a class="nav-item nav-link" routerLink="/addDrug" routerLinkActive="active">Add Drug</a>
  <a class="nav-item nav-link" routerLink="/createPO" routerLinkActive="active">Create PO</a>
  <a class="nav-item nav-link" routerLink="/createShipment" routerLinkActive="active">Create Shipment</a>
  <a class="nav-item nav-link" routerLink="/updateShipment" routerLinkActive="active">Update Shipment</a>
  <a class="nav-item nav-link" routerLink="/retailDrug" routerLinkActive="active">Retail Drug</a>
  <a class="nav-item nav-link" routerLink="/viewDrugHistory" routerLinkActive="active">ViewDrug History</a>
  <a class="nav-item nav-link" routerLink="/viewDrugDetails" routerLinkActive="active">ViewDrug Details</a>
</nav>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>

<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>