<mat-toolbar>
  <mat-toolbar-row>
      <button mat-fab color="basic"  (click)="drawer.toggle()"> <mat-icon>menu</mat-icon></button>
      <span class="example-spacer"></span>
      <a  mat-raised-button  class="navMenuLink" routerLink="/login" routerLinkActive="active" >SignIn</a>
      <a  mat-raised-button hidden="true"  class="navMenuLink" (click)="logOut()" >LogOut</a>
      <span class="example-spacer1"></span>
      <a  mat-fab color="default"  arial-hidden="false" routerLink="/dashboard" routerLinkActive="active" >
        <img  class="logo" src="../assets/logo.png"/>
      </a> 
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container >
  <mat-drawer #drawer mode="over">
    <mat-list class="role" >
      <mat-list-item [@listAnimation]="drawer.opened ? 'opened':'closed'" *ngFor="let router of routerList"   role="listitem">
        <a [routerLink]="router.routerLink" routerLinkActive="active" (click)="drawer.toggle()">{{router.routerName}}</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>


