/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';


.snackBarCustom{
    background: #3f51b5;
    color: #fff;
    max-width:50vw !important;
    .mat-simple-snackbar{
        font-weight: 500;
    }
    .mat-button-wrapper{
        font-weight: 600;
    }
    .mat-simple-snackbar-action{
        color: #fff;
    }
}

.mat-card {
    box-shadow: none;
    margin: 2%;
}
:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 1em 0;
}
.mat-error {
    font-size: 100%;
}
.mat-card-header {
    justify-content: center;
    .mat-card-title {
        font-size: 180%;
    }
}
.mat-card-actions, .mat-card-subtitle, .mat-card-content{
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2%;
    text-align: center;
}
.mat-form-field {
    width: 60%;
}
.stepperVertical {
    width: 60%;
    margin-left: 20%;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.cardContent{
    @extend .stepperVertical;
    display: flex;
    flex-flow: column;
    background: #ffff;
    margin-top:2%;
    overflow: hidden;
    text-overflow: ellipsis;
    .mat-toolbar{
        background: #ffff;
    }
    .mat-card-actions{
        margin: auto;
        text-align: center;
    }
}
.spinnerClass {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}